/*Home page*/

	
.container {
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width:1000px;
	}
	



.navbar {
	background-color: white ;
	font-size: 12px;
	display: block;
	border: 
	
	color: #222222;
	position: fixed;
	padding: 10px 5px 10px 40px;
	margin-top: 10em;
	
	}

.navbar>li {

	line-height: 2em:
	border-bottom: 1px;
	position: relative;
	margin-bottom: 20px;
	padding: 0 10px 10px 0px;
	
	}	
	
.navbar>li>a {
	
	text-decoration: none;
	color: #222;
	
	}		

.navbar > li > a:hover {
	opacity: .5;
	}
	
	
.navbar >li> a:visited {color: #222;}
	
.navbar a {
  display: block;  /* needed so that links expand to fill space */
  
}

/*.navbar a:hover {
  background: #ccc; /* make background gray on hover */
} *?
	

	

			
		
.donuts {
	margin-top: 6em;
	padding: 1em;
	max-width: 1000px;
	
	}
.donuts li {
	display: inline;
	width: 30%;
	float: left;
	margin-top: 2em;
	

	}
	
		
.intro {
	float: left;
	width:100%;
	display: block;
	margin-top:2em;
	
	
	}
		


#intro_text {
	width: 70%;
	display: block;
	margin: 5em auto 1em auto;
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 20px;
	line-height: 1.5em;
	color: #555;
	}
	

	
	/*Timeline*/
	
#history {
	margin-left: 5%;
	}
	

.timeline {
	
	background-color: #B8B8B8 ; 
	margin-top: 6em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	width: 100%;
	}
	
.timeline_text {
	width: 90%;
	padding: 1em;
	margin: 1em auto 0 auto;
	max-width: 1000px;
	
	}	

.head {
	
	margin-top: 1em;
	margin-left: 5%;
	color: white;
	float:left;
	clear:both;
	}
		
.origins_text {
	margin-top: 1em;
	margin-left: 5%;
	float:left;
	width: 40%;
	clear:both;
	}
	
.origins_img {	
	margin-left: 10%;
	width: 20%;
	float: left;
	}
	
	
.head2 {
	
	margin-top: 1em;
	margin-right: 5%;
	color: white;
	float:right;
	clear:both;
	}

.origins_text2 {
	margin-top: 1em;
	text-align:right;
	margin-right: 5%;
	width: 40%;
	float:right;
	clear:both;
	}
	
.origins_text2 p {
	text-align: right;
	}
	
.origins_text3 {
	margin-top: 1em;
	margin-bottom: 4em;
	text-align:right;
	margin-right: 5%;
	width: 40%;
	float:right;
	clear:both;
	}	
		
hr {
	width: 100%;
	max-width: 1000px;
	color: white;
	border-top: 1px solid white;
	margin: 2em;
	}		
	
/*Varieties*/	

#varieties {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 2em;
	}	
	
.varieties {
	
	margin: 1em auto 0 auto;
	width: 90%;
	padding: 1em;
	max-width: 1000px;
	}		
	
.nut1 {
	margin-top: 2em;
	margin-left: 2em;
	width:20%;
	float:left;
	clear: both;
	}	

				
	
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.group {
  clear: both;
      /* to pull each group out on its own line and prevent staggering */
	
}

.group-image {
  float: left;
  width: 25%;
  margin-top: 3em;
  margin-left: 2em;
}

.group-caption {
  	float: left;
 	width: 60%;
 	font-family: Tiempos, Georgia, Times, serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #555;
	margin-left: 3em;
	margin-top: 2em;
}


#recipe {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 2em;
	}

.recipe{
	
	background-color: #B8B8B8 ; 
	margin-top: 6em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	width: 100%;
	}
	
.recipe_text {
	width: 90%;
	padding: 1em;
	margin: 1em auto 0 auto;
	max-width: 1000px;
	clear:both;
	}	
	
.recipe_head1 {
	width: 90%;
	margin-top: 2em;
	margin-left: 3em;
	color: white;
	display: block; cursor: pointer; font-weight: 300;
	}	
.recipe_head2 {
	width: 90%;
	margin-top: 2em;
	margin-left: 3em;
	margin-bottom: 2em;
	color: white;
	display: block; cursor: pointer; font-weight: 300;
	}	
	
.recipe_head3 {
	width: 90%;
	margin-top: 2em;
	margin-left: 3em;
	margin-bottom: 2em;
	color: white;
	display: block; cursor: pointer; font-weight: 300;
	}	
		
		
.recipe_text ul{
	width: 100%;
	text-align:center;
	}	

.recipe_text ul li{
	list-style-type: none;
	line-height: 2em;
	font-size: 18px;
	text-align:center;
	font-family: 'Raleway', Futura, sans-serif;
	}

.recipe_text ol {
	width: 100%;
	line-height: 1.7em;
	font-size: 16px;
	margin-top: 2em;
	
	
	}
	
recipe_column {
width: 45%;
float: left;

}	
	
.toggle1 {
display: none;
}

.toggle2 {
display: none;

}	

.toggle3 {
display: none;
margin-bottom: 8em;
}		
		
	
.bake {
float:left;
clear: both;
}	
	
.bake-image {
  width:30%;
  float:left;
  margin-top: 3em;
  margin-left: 2em;
}

.bake-caption {
  	width:60%;
  	float: left;
 	font-family: Tiempos, Georgia, Times, serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #555;
	margin-left: 3em;
	margin-top: 2em;
}	

.bake {

clear: both;

}

#bakeries {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 2em;
	}	

#title {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 2em;
	}	
	
.title img {
	margin: 1em auto 1em auto;
	text-align: center;
	max-width: 500px;
	}
	
.banner {
	margin: 12em auto 2em auto;
	width: 90%;
	max-width:900px;
	}
	

.contact {
	text-align: center;
	padding-top: 16em;
	padding-bottom: 2em;
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 10px;
	color: #555;
	}	
	
.contact a {
	text-decoration: none;
	color: #555;
	}
	
.contact	a:hover {
	opacity: .5;
	}
contact  a:visited {color: #555;}

recipe_column {

	float: left;
	clear: both; 
	}	
	