
body {
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #222;
}
h1 {
	font-family: 'Raleway', Futura, sans-serif;
	font-weight: 200;
	font-size: 40px;
	line-height: 32px;
	color: black;
	}
	
h2 {
	font-family: 'Raleway', Futura, sans-serif;
	font-weight: 200;
	font-size: 30px;
	line-height: 32px;
	color: #555;
	}
	

.contact {
	
	font-family: 'Raleway', Futura, sans-serif;
	font-size: 12px;
	line-height: 1em;
	text-align: center;
	text-decoration:none;
	}

.into, p {
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 20px;
	line-height: 1.5em;
	color: #555;
	}
	
.origins_text {
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 16px;
	line-height: 1.7em;
	color: #000000;
	}
	
.origins_text2 {	
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 16px;
	line-height: 1.7em;
	color: #000000;
	}
.origins_text3 {	
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 16px;
	line-height: 1.7em;
	color: #000000;
	}
	

